.entryTitle {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 20px;
}
.entryTitle:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color: var(--orange-1);
}