.form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.illustration {
  flex: 0 0 48%;
  background: var(--white-1);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration img {
  max-width: 250px;
}

form {
  flex: 0 0 48%;
  background: var(--white-1);
  padding: 25px;
}

form .field {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--orange-1);
  outline: 0;
  border-radius: 4px;
  font-size: 14px;
  color: var(--black-1);
  transition: 0.25s;
}

form .field:focus{
  border: 1px solid var(--green-1);
}

form .submit {
  display: block;
  padding: 15px 25px;
  background: var(--orange-1);
  border: 0;
  border-radius: 4px;
  color: var(--white-1);
  cursor: pointer;
  outline: 0;
  transition: 0.25s;
}

form .submit:hover{
  background-color: var(--green-1);
}

form label {
  cursor: pointer;
}